In [9]:
from google.cloud import bigquery
import os

Provide BigQuery Credentials

In [10]:
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = r'/Users/jason/Documents/Jason/JobMatch/job-match-271401-74d3c9eb9112.json'

Construct BigQuery Query to retrieve data

In [11]:
query = """
select *
from job_search.job_search20200317
"""

Instantiate and retrieve query results to a dataframe

In [13]:
bq_client = bigquery.Client()
df = bq_client.query(query).result().to_dataframe()

In [14]:
df.head()

,search_date,search_title,search_location,title,location,company,salary,job_id,job_url
0,20200317,technical+recruiter,Charlottesville,Accountant,"Ivy, VA",The Rector & Visitors of the University of Vir...,None,2877be42c050006e,https://www.indeed.com/viewjob?jk=2877be42c050...
1,20200317,technical+recruiter,Charlottesville,Systems Integration Specialist,"Ivy, VA",The Rector & Visitors of the University of Vir...,None,68c6c4199e155191,https://www.indeed.com/viewjob?jk=68c6c4199e15...
2,20200317,backend+developer,Riverside,Jr. C# Developer,"RSM, CA",Melissa Global Intelligence,None,1b59293984a1abe2,https://www.indeed.com/viewjob?jk=1b59293984a1...
3,20200317,data+analyst,Santa+Ana,Data Analyst,"Brea, CA",NS and Associates,None,ab8c598f0d1b58d9,https://www.indeed.com/viewjob?jk=ab8c598f0d1b...
4,20200317,product+manager,Raleigh,Product Manager - Retail Industry Solutions,"Cary, NC",SAS Institute Inc,None,7c1c271501c15273,https://www.indeed.com/viewjob?jk=7c1c271501c1...